// COLORS
$primary-color: #171738;
$secondary-color: #3423a6;
$secondary-color-transparent: rgba(44, 29, 140, 0.6);
$black-transparent: rgba(0, 0, 0, 0.6);

$white-color: #fff;

$dark-grey: #333333;

$dark-grey-text: #322e2e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.3rem;
